<html>
  <head>
    <title>dj taytay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="apple-touch-icon" href="/static/favicon.png">
  </head>
  <body>
    <div id="app">
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#"><img src="/static/favicon.png" class="logo" /> dj taytay</a>
        </nav>
      </header>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div class="container fixed-bottom">
        {% block player %}{% endblock %}
      </div>
      <footer class="footer">
        {% block footer %}{% endblock %}
      </footer>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/app.js"></script>
  </body>
</html>
