{% extends "base.html.j2" %}
{% block content %}
<main class="container" role="main">
  <!-- TODO: emit a custom event below instead of v-on:click.native -->
  <error v-bind:message="error" v-on:click.native="error=''"></error>
  <div id="browser">
    <ul class="list-group">
      <file v-for="file in files" v-bind:file="file" v-bind:key="file.path" v-on:queue="queuePath($event)" v-on:play-or-browse="playOrBrowse($event)"></file>
    </ul>
  </div>
</main>
{% endblock %}

{% block player %}
<div class="player">
  <player v-bind:track="current_track" v-on:next="nextTrack()" v-on:previous="previousTrack()"></track>
</div>
{% endblock %}
